html,body{
	height: 100%;
	width: 100%;
	margin:0;
	padding:0;
}

.square{

	background: red;
	padding: 50px;
	float:left;
	margin:1.66%;
}

.stripe{
    width:100%;
    height:30%;
    background: pink;
    padding-top:10px;
    font-size: 3em;
}


#input{
	width: 100%;
	margin:0 auto;
	height:10%;
	position: relative;
}

#form{
	height: 100%;
	width: 100%;
}
#inp{
	height:98%;
	width: 50%;
	border: none;
}

#inp:focus{
	background: rgba(0, 0, 0, 0.1);
	color:white;
	border: none;
}

#subm{
	height: 100%;
	background:rgba(0, 0, 0, 0.8);
	color: white;
	border: none;
	width:50%;
	float: right;
}

#subm:hover{
	background: black;
	color:white;
	transition: all 0.5s linear;
}
#sElem{
   text-align:center;
   margin:0 auto;
}

#colorid{
    text-align:center;
    margin:0 auto;
}

.game{
	background: pink;
	height: 60%;
}
